<h1>
  ElixirApp - Template Login API and WebSocket for Elixir!
</h1>

<% alias Castle.{Repo, Structures} %>
<% d = Castle.Structures.User |> Castle.Repo.get(1) %>
<%= d.email %>


<%= form_for @conn, Routes.api_path(@conn, :login), [as: :body], fn f -> %>
  <%= text_input f, :email %>
  <%= text_input f, :password %>
  <%= submit "Login" %>
<% end %>